In [1]:
import pandas as pd
movies=pd.read_csv('dataset.csv')

In [11]:
import pandas as pd

def separate_and_save_column(csv_file, column_index, output_file):
    # Read the CSV file
    df = pd.read_csv(csv_file)

    # Extract the column
    column_to_save = df.iloc[:, column_index]

    # Save the extracted column to a new file
    column_to_save.to_csv(output_file, index=False)

# Example usage:
csv_file_path = 'dataset.csv'
column_index_to_extract = 1  # Replace with the index of the column you want to extract
output_file_path = 'extracted_column.csv'
separate_and_save_column(csv_file_path, column_index_to_extract, output_file_path)

In [12]:
titles = pd.read_csv("extracted_column.csv")
titles

                                              title
0                          The Shawshank Redemption
1                       Dilwale Dulhania Le Jayenge
2                                     The Godfather
3                                  Schindler's List
4                            The Godfather: Part II
...                                             ...
9995                             The Last Airbender
9996                       Sharknado 3: Oh Hell No!
9997                                Captain America
9998  In the Name of the King: A Dungeon Siege Tale
9999                                         Domino

[10000 rows x 1 columns]

In [18]:
def generate_dart_list(output_file, column_values):
    # Write Dart code for the list
    with open(output_file, 'w', encoding='utf-8') as f:
        f.write('List<String> columnValues = [\n')
        for value in column_values:
            f.write(f'  "{value}",\n')
        f.write('];')

# Example usage:
extracted_column_file = 'extracted_column.csv'
dart_output_file = 'column_values.dart'

# Read the extracted column from the CSV file
with open(extracted_column_file, 'r', encoding='utf-8') as f:
    column_values = [line.strip() for line in f]
# Generate Dart code for the list
generate_dart_list(dart_output_file, column_values)